.hamburger {
  border-radius: 50%;
  width: 30px;
  height: auto;
  position: fixed;
  top: 40px;
  right: 50px;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  z-index: 4;
}

.hamburger .line {
  width: 100%;
  height: 4px;
  background: #fff;
  margin-top: 5px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.hamburger.close {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.hamburger.close .line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.close .line:nth-child(2) {
  opacity: 0;
}

.hamburger.close .line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(6px, -8px);
          transform: rotate(-45deg) translate(6px, -8px);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  overflow: hidden;
  z-index: 3;
  position: fixed;
}

.nav.show {
  visibility: visible;
}

.nav .portrait {
  height: 100vh;
  width: 50vw;
  background: #2f5975;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate3d(-100%, -100%, 0);
          transform: translate3d(-100%, -100%, 0);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.nav .portrait.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.nav .menu-img {
  border: 3px solid #fa5151;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.nav .nav-bar {
  background: #323232;
  height: 100vh;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate3d(100%, 100%, 0);
          transform: translate3d(100%, 100%, 0);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.nav .nav-bar.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.nav .nav-bar .nav-item {
  font-size: 2rem;
  list-style: none;
  margin-top: 2rem;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.nav .nav-bar .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.nav .nav-bar .nav-item.current > a {
  color: #fa5151;
}

.nav .nav-bar .nav-item a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.nav .nav-bar .nav-item a:hover {
  color: #fa5151;
  border-bottom: 2px solid #fff;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

html {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  color: #fff;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
}

body#bg-img {
  background: url("/dist/img/blue-and-red-plants-2505693.jpg");
  background-size: cover;
  background-attachment: fixed;
}

body#bg-img .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(68, 68, 68, 0.8);
  z-index: -1;
}

body .lg-heading {
  font-size: 5rem;
  margin-top: 20vh;
}

body .lg-heading-secondary {
  color: #fa5151;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  position: relative;
}

@-webkit-keyframes slide {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes slide {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

body .sm-heading {
  background: #6e89ee;
}

.icons {
  padding: 2rem;
}

.icons a {
  padding-left: 2rem;
  color: #fff;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.icons a:hover {
  color: #fa5151;
}

.about {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "img text text";
  line-height: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.about-img {
  height: 200px;
  width: 200px;
  grid: img;
  border: 3px solid #fa5151;
  border-radius: 50%;
}

.about-text {
  text-align: left;
  grid: text;
}

.about-text .languages {
  color: #fa5151;
}

#bg {
  background: rgba(27, 38, 59, 0.8);
}

.projects {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 40px;
  -ms-grid-columns: (minmax(300px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px;
}

.projects .project {
  height: 250px;
  width: 250px;
  border: solid 2px #fff;
  border-bottom: solid 5px #fa5151;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.projects .project::after {
  content: "";
  background: #fa5151;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.projects .project:hover::after {
  top: 0;
  opacity: 0.8;
}

.projects .project:hover .open {
  opacity: 1;
}

.projects .project img {
  width: 100%;
  height: 100%;
}

.projects .project .open {
  color: #fff;
  text-align: center;
  position: absolute;
  right: 30%;
  top: 40%;
  z-index: 1;
  opacity: 0;
}

.projects .project .open:hover {
  color: #444;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.contact a {
  text-decoration: none;
  color: #fa5151;
}

.contact h2 {
  border: solid 3px #fa5151;
  padding: 20px;
  margin: 20px auto 50px;
  color: #fa5151;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.contact h2:hover {
  padding: 15px;
}

footer {
  margin-top: auto;
  background: #3c3c3c;
  padding: 25px 0 25px;
}

@media screen and (max-width: 500px) {
  .lg-heading {
    margin-bottom: 1rem;
  }
  .nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav .portrait,
  .nav .nav-bar {
    width: 100%;
    min-height: 0;
  }
  .nav .portrait.show,
  .nav .nav-bar.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .nav .nav-bar {
    height: 75vh;
  }
  .nav .portrait {
    height: 25vh;
  }
  .nav .portrait .menu-img {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 750px) {
  .about {
        grid-template-areas: "img" "text";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 30px;
  }
  .about-img {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .about-text {
    text-align: center;
  }
}

@media screen and (min-width: 751px) {
  .about {
    grid-gap: 20px;
  }
}
